<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autopark - Accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto order-0 ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autopark/search/">Trouver un vehicule</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/autopark/all/">Liste des vehicules</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/booking/all/">Reservations</a>
                    </li>
                </ul>
                <div class="mx-auto">
                    <a class="navbar-brand " href="/">Auto Park</a>
                </div>
                <button class="btn btn-dark" type="submit"
                    onclick="window.location.href='/accounts/login';">Login</button>
            </div>
        </div>
    </nav>

    <div class="container mt-4">{% block content %} {% endblock %}</div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>